<!DOCTYPE html>
 <!-- layout 관련 namespace 추가 선언 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        
        <!-- config.html -->
        <th:block th:replace="fragments/config::configFragment" ></th:block>
    </head>
	
    <!-- header.html -->
    <header th:replace="fragments/header::headerFragment"></header>

	<!-- 공통적이지 않은 부분이 들어가는 부분 -->
    <body layout:fragment="content"></body>

	<!-- footer.html -->
    <footer th:replace="fragments/footer::footerFragment"></footer>
</html>