<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases> 
        <!-- package name="com.example.demo"/-->
        <typeAlias alias="GuestbookDto" type="com.example.demo.guestbook.GuestbookDto"/>
        <typeAlias alias="BoardDto" type="com.example.demo.board.BoardDto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/Guestbook.xml"/> 
        <mapper resource="mappers/Board.xml"/>
    </mappers>
</configuration>